{% extends "homeIndex.html" %}
{% load humanize %}

<!-- TITLE -->
{% block PageTitle %}
● {{ blogs.title }}]}
{% endblock PageTitle %}


<!-- HEAD -->
{% block Head %}

<style>
  /*extra small devices (xs) */


  /*small devices (sm) */
  @media (min-width: 576px){
    #image {
      width: 80%;
      height: 60%;
    }
  }


</style>

{% endblock Head %}


<!-- BODY -->
{% block Content %}
<main class="container mt-4">
   
  
    <div class="row g-5">


      <div class="container text-center">
        <!-- TITLE -->

        <img id="image" src="{{blogs.image.url}}"  style="width: 85%; height: 85%;" class="rounded img-fluid  mt-5" alt="">
 
      </div>

      <div>
        <h1 class="mb-1 fst-italic text-center text-white">
          {{ blogs.title }}
        </h1>  

        <div class="text-center p-3 border-bottom">
          <ul class="list-unstyled text-secondary" style="display: inline;">
            <li class="list-group-item text-secondary" style="display: inline; font-size: 14px;">{{blogs.date|date:"SHORT_DATE_FORMAT"}}</li>
            <li class="list-group-item text-white" style="display: inline; font-size: 14px;">·</li>
            <li class="list-group-item" style="display: inline; font-size: 14px;"><strong class="d-inline-block text-success my-auto" style="font-size:100%">{{ blogs.categorys }}</strong></li>
            <li class="list-group-item text-white" style="display: inline; font-size: 14px;">·</li>
            <li class="list-group-item text-secondary" style="display: inline; font-size: 14px;">BY <a class="text-secondary" href="#">Mücahit Çakmak</a></li>
          </ul>
        </div>
      
      </div>




      <!-- LEFT BAR -->
      <div class="col-md-8">

        <div class="text-white" style="font-size: 19px;">
          {{blogs.text|safe}}               
        </div>


        <!-- UP TO PAGE -->
        <hr>
        <nav class="blog-pagination text-center" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#">UP TO PAGE</a>
        </nav>

      </div>
  


    <!-- RIGHT BAR -->
    <div class="col-md-3">

      <div class="position-sticky" style="top: 2rem;">

          <!-- Popüler -->
          <div class=" mb-2">
              <h4 class="fst-italic text-white">Popüler</h4>
              <ul class="list-unstyled">
                {% if popBlogs %}
                  {% for popBlog in popBlogs %}
                  <li class="text-center mt-2 bg-transparent rounded" style="white-space: normal;">
                    <div class="card mb-2 bg-transparent text-white">
                      <img class="card-img-top" src="{{popBlog.image.url}}" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-title">
                          <a class="underline text-light" style="font-size: 18px;" href="{% url 'blogText' popBlog.slug %}">{{ popBlog.title }}</a>
                        </p>
                      </div>                    
                    </li>   
                 {% endfor %}
                {% endif %}
              </ul>
          </div>
          <!-- Kategoriler -->
          <div class="">
              <h4 class="fst-italic text-white">Kategoriler</h4>
              <ol class="list-unstyled">
                <ul class="list">
                {% for category in categorys %}
                  <li><a class="dropdown-item text-secondary" href="{% url 'categoryList' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
                </ul>
              </ol>
          </div>
      </div>

  </div>


    </div>
  
  </main>
{% endblock Content %}
